@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MyCustomFont';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/TT\ Neoris\ Trial\ Medium.ttf') format('truetype'),
       url('../fonts/TT\ Neoris\ Trial\ Regular.ttf') format('truetype');
}